[user]
	name = Stan
	email = 60108739+StanKarz@users.noreply.github.com
[color]
	ui = true
[core]
	editor = code --wait
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
	colorMoved = default
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	graph = log --all --graph --decorate --oneline
	last = log -1 HEAD --stat
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[credential]
	helper = osxkeychain
